site_name: functime
site_url: https://docs.functime.ai/
repo_url: https://github.com/descendant-ai/functime
repo_name: descendant-ai/functime

theme:
  name: "material"
  icon:
    repo: fontawesome/brands/github
  favicon: img/logo_dark.png
  logo: img/logo.png
  palette:
    primary: black
  features:
    - content.code.copy
    - content.tabs.link
    - navigation.expand

plugins:
  - search:
      lang: en
  - mkdocs-jupyter:
      include: ["*.ipynb"]
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            show_source: false
            show_bases: false

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Quick Start: index.md
  - Installation: installation.md
  - Forecasting: forecasting.md
  - Preprocessing: preprocessing.md
  - Seasonality: seasonality.md
  - Evaluation: notebooks/evaluation.ipynb
  - LLM Interoperability: notebooks/llm.ipynb
  # - Developer Guide: develop.md
  - API Reference:
    - forecasting: ref/forecasting.md
    - preprocessing: ref/preprocessing.md
    - feature_extraction: ref/feature-extraction.md
    - cross_validation: ref/cross-validation.md
    - offsets: ref/offsets.md
    - metrics: ref/metrics.md
    - multi_objective: ref/multi-objective.md
    - evaluation: ref/evaluation.md
    - plotting: ref/plotting.md

extra:
  analytics:
    provider: google
    property: G-CYGTL9FJ4R
